body{
    background-color: rgb(0, 204, 255);
    display: grid;
    grid-template-rows:82vh 13vh 5vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    
}