*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url('../aula12/img/1.jpg');
    width: 100%;
    background-size: cover;
    height: auto;
    text-align: center;
    border-radius: 0 0 85% 85% / 30%;
    overflow: hidden;
}

header .container{
width: 100%;
height: 100%;
padding: 50px;
color: white;
text-shadow: 1px 1px 1px black;
background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100% ) 
}

h1{
    font-family: 'courier-new';
    font-size: 80px;
    color: rgb(81, 255, 0);
    margin-bottom: 30px;
}

h3,p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 30px;
}
h3{
    color: cornsilk;
}
p{
    color: cornsilk;
    border: none;
    padding: 10px 20px;
}
button{
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: white;
    color: black;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px black;
}

button:hover{
    cursor: pointer;
}